	<h1>Here are all the other student's notes</h1>
	<% @notes.select{|ele| ele.author.email != current_user.email}.each do |note| %>
		<ul>
			<li>
				<h2> <%= link_to note.header, user_note_path(:id => current_user.id) %></h2>
				<h3> <%= note.content %></h3>
				<h4> Created <%= time_ago_in_words(note.created_at) %> ago </h4>
				<h5> Written by <%= note.author.email %> </h5>
					<%=button_to "Delete", user_note_path(:user => current_user,:id => note.id), :method => :delete %>
					<% if current_user.role == "admin" %>
						<%= button_to "Edit Post", edit_user_path(note.author,note) %>
					<%end%>
			</li>
		</ul>
	<% end %>