<%= form_for @user do |f| %>
	<%= f.label :email %>
	<%= f.text_field :email %>

	<%= f.label :password %>
	<%= f.password_field :password %>

	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation %>

	<%= f.label :role %>
	<%= f.select :role, User::ROLES%>

	<%= f.submit %>
<% end %>

<% if @user.errors.any? %>
  <h2>Hello form errors</h2>
  <ul class="Signup_Errors">
	  <% @user.errors.full_messages.each do |message| %>
	    <li> <%= message %></li>
	  <% end %>
  </ul>
<% end %>