<% if logged_in? %>
	<h1>hello <%= current_user.email %></h1>
	<h2>Your current role is <%= current_user.role%>.</h2>
<% else %>
	<h2> Hello, you are not signed in.</h2>
<% end %>


<% if logged_in? %>
	<%= button_to "Sign out", session_delete_path, method: :delete %>
	<%= link_to "Create a note", new_user_note_path(:user_id => session[:id])%>
	<%= link_to "View notes", user_notes_path(:user_id => current_user.id) %>
<% else %>
	<%= link_to "Sign Up!", new_user_path %>
	<%= link_to "Sign In",  new_session_path %>
<% end %>